/* mona-sans-latin-wght-normal */
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200 400 500 600 700 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/mona-sans:vf@5.3.0/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* 변수 */
:root {
    --primary-font-color: #1f2328;
    --primary-font-family: "Mona Sans", sans-serif;
    --primary-font-size: 16px;
    --sidebar-width: 256px;
}

/* 초기화 */
html {
    font-size: var(--primary-font-size);
}

body {
    margin: 0;
    color: var(--primary-font-color);
    font-size: var(--primary-font-size);
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul, ol, li, dl, dt, dd {
    margin:0;
    padding:0;
    list-style: none;
}


h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}


* {
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

.rotate {
    transform: rotate(90deg);
}

.hide { display: none; }

/* 공통 스타일 */

/* HTML / body 공통 스타일 */
body {
    display: flex;
    flex-direction: column;
}

/* hearder / main / footer 세부 스타일 */

/* header 스타일 S */
header {
    height: 64px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    border-bottom: 2px solid #ccc;
}

header section.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header section.right button  {
    background: transparent;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;

}

header section.right ._4px_bar {
    width: 1px;
    height: 20px;
    background: #ccc;
    margin: 0 5px;
}

header .user_menu_button {
    width:32px;
    height:32px;
    justify-content: flex-end;
}

/* header 스타일 E */

/* main 레이아웃 구성 S */
main {
    display: flex;
    flex-grow: 1;
    min-height: 950px;
}

main > aside {
    max-width: var(--sidebar-width);
    width: 100%;
    border-right: 1px solid #ccc;
}

main > aside a {
    color: var(--primary-font-color);
}

main > .main-content {
    flex-grow: 1;
}

.main-content-header {
    display: flex;
    box-sizing: border-box;
    width: 951px;

}

.content-header-left {
    font-size-adjust: 100%;
    font-size: 20px;
    font-weight:600;
    color: rgb(31,35,40)
}

.content-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.publish_box .top, .publish_box.other {
    display: flex;
    height: 28px;
    justify-content: space-between;
    width: 100%; 
}

.publish_box .left {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.publish_box .left h2 { margin: 0 10px; }

.publish_box button {
    background: transparent;
    border: 0;
}

.publish_box .content {
    margin: 15px 0 30px;
    border: 1px solid #ccc;
    padding: 20px;
    height: 156px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.publish_box .content > div {
    flex-grow: 1;
    text-align: center;
}

.main-content > ul {
    padding: 25px;
}

/* li.toggle {
    box-sizing: border-box;
    height: 28px;
    margin:0;

} */

.number_inbox {
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    font-size: 12px;
    font-weight: 600;
    background: rgba(129, 139, 152, 0.12);
    border-style:1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    text-align: center;
    line-height: 21px;


}
/* main 레이아웃 구성 E */


/* main 스타일 S */
ul h2 {
    font-family: var(--primary-font-family);
    font-size: 16px;
    color: var(--primary-font-color);
}

main-content-header {
    
}

number_inbox {

}
/* main 스타일 E */

/* footer 스타일 S */
footer {
    height: 58px;
    border-top: 1px solid #ccc;
    background: #f8f8f8;
}
/* footer 스타일 E */